<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Imbizo Foundation</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='~/main.css'>
  <script src='main.js'></script>
</head>

<body class="sab" style="background-color:#bdc08c">
  <div>
    <img style="z-index: 1;" class="homelogo"
      src="https://firebasestorage.googleapis.com/v0/b/githubwork-a302a.appspot.com/o/Icon%20(1).png?alt=media&token=de5f7f01-8eef-4a57-890f-3c3ea81211f5"
      width="10%" alt="Imbizo Foundation Logo">
  </div>
  <nav>
    <div>


      <div class="navbar">
        <div class="movenavitems">
          <ul style="z-index: 2">
            <div>
              <li><a href="#home"></a></li>
              <li><a href="#get"></a></li>
              <li><a href="#meet"></a></li>
              <li><a href="#contact"></a></li>
              <li><a href="#home"></a></li>
              <li><a href="#get"></a></li>
              <li><a href="#meet"></a></li>
              <li><a href="#contact"></a></li>
              <li><a href="#home"></a></li>
              <li><a href="#get"></a></li>
              <li><a href="#meet"></a></li>
              <li><a href="#home"></a></li>
              <li><a href="#get"></a></li>
              <li><a href="#meet"></a></li>
              <li><a href="#contact"></a></li>
              <li><a href="#contact"></a></li>
              <li><a href="#home"></a></li>
              <li><a href="#get"></a></li>
              <li><a href="#meet"></a></li>
              <li><a href="#contact"></a></li>
              <a class="adminlogin" style="left: 80%;cursor:pointer" onclick="location.href='@Url.Action("Login", "Admin")'">

                <span>Admin Login</span>
                <div class="liquid"></div>
              </a>
          </ul>
        </div>


      </div>

    </div>

  </nav>
  <div>
    <div class="heading" style="z-index:1;
        ">
      <label style="color:black">Imbizo</label>
      <br>
      <label style="color: black">Foundation</label>
      <br>
      <p class="homep1 content">
        Here at Imbizo Foundation, we are driven by a single goal; to change peoples' lives for the better. We are a
        Life Skills based organization that is committed to investing and securing the future of South Africans.
      </p>
    </div>
    <div class="share1" style="z-index:1;
        ">
      <img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" />
      <br>
      <br>
      <br>
      <img width="50px" height="50px" src="https://img.icons8.com/material-outlined/96/000000/instagram-new--v1.png" />
      <br>
      <br>
      <br>
      <img width="50px" height="50px" src="https://img.icons8.com/ios-glyphs/60/000000/twitter--v1.png" />
    </div>
    <div class="z-index:0;
        ">
      <img
        style="filter: gray; /* IE6-9 */
           -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
           filter: grayscale(1);margin-top: 100px ;margin-left: 100px; width: 56% ;height: fit-content; float:right; border-radius: 10px 0px 10px 50px ;"
        src="https://firebasestorage.googleapis.com/v0/b/githubwork-a302a.appspot.com/o/12289-college-student-studying-for-masters-degree-i.jpg?alt=media&token=93a607e9-a11e-4ee8-b2ed-6bafd125181e" />
    </div>

   
    <div class="">
      <br>
      <br>
      <p class="homep2 content">
        Imbizo was born out of a desire to see social justice and change within our country. To accomplish this we are
        both a non-profit and a social entrepreneurial organization, providing the opportunity for us to empower, raise
        up and restore the dignity of South Africans.
      </p>
    </div>
  </div>

</body>

</html>