@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

.sab {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.404) 240px, rgba(189, 192, 140, 1) 710px), url(https://firebasestorage.googleapis.com/v0/b/githubwork-a302a.appspot.com/o/photo-1613244600331-ac72a1ee5256%201.png?alt=media&token=e02decfa-1f48-4d8c-a002-faa3389a48dc) no-repeat;
    height: max-content;
    width: max-content;
    padding-left: 100px;
    background-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    float:right;
    margin-right:20%;
    margin-top:70px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px
}

.homelogo {
    float: left;
    left: 0px;
    top: -20px;
    position: absolute;
    animation: myAnim 5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}